<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/io/filehandling/remote/connections" factory-class="org.knime.cloud.aws.s3.node.connector.S3ConnectionNodeFactory"/>
   <node category-path="/io/filehandling/remote" factory-class="org.knime.cloud.aws.s3.node.filepicker.S3FilePickerNodeFactory"/>
   <node category-path="/labs/aws/connector" deprecated="false" factory-class="org.knime.cloud.aws.nodes.connector.AmazonAuthenticationNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/missing.gif"
            level-id="connector"
            name="Amazon Connector"
            path="/labs/aws/">
      </category>
</extension>
   <extension point="org.knime.base.filehandling.RemoteFileHandler">
      <RemoteFileHandler RemoteFileHandler="org.knime.cloud.aws.s3.filehandler.S3RemoteFileHandler">
      </RemoteFileHandler>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#4386f7"
            hidden="false"
            name="AWS Comprehend Connection"
            objectClass="org.knime.cloud.aws.util.AmazonConnectionInformationPortObject"
            objectSerializer="org.knime.cloud.aws.util.AmazonConnectionInformationPortObject$Serializer"
            specClass="org.knime.cloud.core.util.port.CloudConnectionInformationPortObjectSpec"
            specSerializer="org.knime.cloud.core.util.port.CloudConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="AWSConnection"
            objectClass="org.knime.cloud.aws.util.AWSConnectionInformationPortObject"
            objectSerializer="org.knime.cloud.aws.util.AWSConnectionInformationPortObject$Serializer"
            specClass="org.knime.cloud.core.util.port.CloudConnectionInformationPortObjectSpec"
            specSerializer="org.knime.cloud.core.util.port.CloudConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
   
   
</plugin>
