<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/default.png"
            level-id="aws"
            locked="true"
            name="AWS"
            path="/labs/">
      </category>
   </extension>
   <extension point="org.knime.workbench.repository.nodes">
      <node 
        category-path="/io/filehandling/remote/connections" 
        factory-class="org.knime.cloud.aws.s3.node.connector.S3ConnectionNodeFactory" 
        id="org.knime.cloud.aws.s3.S3ConnectionNodeFactory"/>
      <node 
        category-path="/io/filehandling/remote" 
        factory-class="org.knime.cloud.aws.s3.node.filepicker.S3FilePickerNodeFactory" 
        id="org.knime.cloud.aws.s3.node.connectiontourl.S3ConnectionToUrlNodeFactory"/>
      <node 
      	category-path="/labs/aws" 
      	factory-class="org.knime.cloud.aws.comprehend.syntax.node.ComprehendSyntaxNodeFactory" 
      	id="org.knime.cloud.aws.comprehend.node.syntax.ComprehendSyntaxNodeFactory"/>
     <node 
      	category-path="/labs/aws" 
      	factory-class="org.knime.cloud.aws.comprehend.entities.node.ComprehendEntitiesNodeFactory" 
      	id="org.knime.cloud.aws.comprehend.node.entities.ComprehendEntitiesNodeFactory"/>
      <node 
      	category-path="/labs/aws" 
      	factory-class="org.knime.cloud.aws.comprehend.keyphrases.node.ComprehendKeyPhrasesNodeFactory" 
      	id="org.knime.cloud.aws.comprehend.node.keyphrases.ComprehendKeyPhrasesNodeFactory"/>
      <node 
      	category-path="/labs/aws" 
      	factory-class="org.knime.cloud.aws.comprehend.sentiment.node.ComprehendSentimentNodeFactory" 
      	id="org.knime.cloud.aws.comprehend.node.sentiment.ComprehendSentimentNodeFactory"/>
      <node 
      	category-path="/labs/aws" 
      	factory-class="org.knime.cloud.aws.comprehend.language.node.ComprehendLanguageNodeFactory" 
      	id="org.knime.cloud.aws.comprehend.node.language.ComprehendLanguageNodeFactory"/>
      <node 
      	category-path="/labs/aws" 
      	factory-class="org.knime.cloud.aws.translate.node.TranslateNodeFactory" 
      	id="org.knime.cloud.aws.translate.node.TranslateNodeFactory"/>
      <node 
      	category-path="/labs/aws" 
      	factory-class="org.knime.cloud.aws.rekognition.faces.node.FacesNodeFactory" 
      	id="org.knime.cloud.aws.rekognition..faces.node.FacesNodeFactory"/>
   </extension>
   <extension point="org.knime.base.filehandling.RemoteFileHandler">
      <RemoteFileHandler RemoteFileHandler="org.knime.cloud.aws.s3.filehandler.S3RemoteFileHandler">
      </RemoteFileHandler>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="AWSConnection"
            objectClass="org.knime.cloud.aws.util.AWSConnectionInformationPortObject"
            objectSerializer="org.knime.cloud.aws.util.AWSConnectionInformationPortObject$Serializer"
            specClass="org.knime.cloud.core.util.port.CloudConnectionInformationPortObjectSpec"
            specSerializer="org.knime.cloud.core.util.port.CloudConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
   
</plugin>
