<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
           
      <node
            category-path="/io/connectors"
            factory-class="org.knime.cloud.aws.filehandling.nodes.S3connection.S3ConnectionNodeFactory">
      </node>

      <node
            category-path="/io/connectors"
            factory-class="org.knime.cloud.aws.filehandling.s3.node.S3GenericConnectorNodeFactory">
      </node>

   </extension>
   <extension
         point="org.knime.filehandling.core.FSDescriptorProvider">
      <FSDescriptorProvider
            class="org.knime.cloud.aws.filehandling.s3.fs.S3FSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.cloud.aws.filehandling.s3.fs.S3GenericFSDescriptorProvider">
      </FSDescriptorProvider>
   </extension>

</plugin>
