<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/filehandling/remote/connections"
            factory-class="org.knime.cloud.google.drive.node.connector.GoogleDriveConnectionNodeFactory"
            id="org.knime.cloud.google.drive.node.GoogleDriveConnectionNodeFactory"/>
   </extension>
   
    <extension point="org.knime.base.filehandling.RemoteFileHandler">
      <RemoteFileHandler RemoteFileHandler="org.knime.cloud.google.drive.filehandler.GoogleDriveRemoteFileHandler">
      </RemoteFileHandler>
   </extension>
   
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#1eb9dc"
            hidden="true"
            name="Google Sheets"
            objectClass="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObject"
            objectSerializer="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObject$Serializer"
            specClass="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObjectSpec"
            specSerializer="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObjectSpec$Serializer">
      </portType>
      <portType
            hidden="false"
            name="GoogleDriveConnection"
            objectClass="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObject"
            objectSerializer="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObject$Serializer"
            specClass="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObjectSpec"
            specSerializer="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
   
</plugin>
