<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/filehandling/remote/connections"
            factory-class="org.knime.cloud.google.drive.node.connector.GoogleDriveConnectionNodeFactory"/>
   </extension>
   
    <extension point="org.knime.base.filehandling.RemoteFileHandler">
      <RemoteFileHandler RemoteFileHandler="org.knime.cloud.google.drive.filehandler.GoogleDriveRemoteFileHandler">
      </RemoteFileHandler>
   </extension>
   
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="GoogleDriveConnection"
            objectClass="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObject"
            objectSerializer="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObject$Serializer"
            specClass="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObjectSpec"
            specSerializer="org.knime.cloud.google.util.GoogleDriveConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.google.api.knimeGoogleAuthScope">
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.cloud.google.drive.scope.KnimeDriveReadAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.cloud.google.drive.scope.KnimeDriveReadWriteAuthScope">
      </KnimeGoogleAuthScope>
   </extension>
   
</plugin>
