<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
<!--************************** DB Extensions **************************-->
    <!-- Database Types -->
   <extension point="org.knime.database.DBType">
      <DBType id="redshift" name="Amazon Redshift"
        urlTemplateValidator="org.knime.database.node.connector.server.ServerUrlTemplateValidator">
            <UrlTemplateExamples>
            <UrlTemplateExample template="jdbc:redshift://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"/>
        </UrlTemplateExamples>
      </DBType>
   </extension>
   
   <!-- Agents -->
   <extension point="org.knime.database.Agent">
      <Agent
            dbTypes="redshift"
            factory="org.knime.cloud.aws.redshift.connector2.utility.RedshiftAgentFactory"
            interface="org.knime.database.agent.loader.DBLoader"/>
      <Agent
            dbTypes="redshift"
            factory="org.knime.cloud.aws.redshift.connector2.utility.RedshiftAgentFactory"
            interface="org.knime.database.agent.metadata.DBMetadataReader"/>
      <Agent
            dbTypes="redshift"
            factory="org.knime.cloud.aws.redshift.connector2.utility.RedshiftAgentFactory"
            interface="org.knime.database.agent.sampling.DBSampling"/>
      <Agent
            dbTypes="redshift"
            factory="org.knime.cloud.aws.redshift.connector2.utility.RedshiftAgentFactory"
            interface="org.knime.database.agent.writer.DBWriter"/>
   </extension>

   <!-- Dialect -->
   <extension point="org.knime.database.SQLDialect">
      <SQLDialect dbTypes="redshift" factory="org.knime.cloud.aws.redshift.connector2.utility.RedshiftDBSQLDialect$Factory"/>
   </extension>

   <!-- Driver  -->
   <extension point="org.knime.database.Driver">
      <Driver locator="org.knime.cloud.aws.redshift.connector2.utility.RedshiftDriverLocator"/>
      <Driver locator="org.knime.cloud.aws.redshift.connector2.utility.v213.RedshiftDriverLocator"/>
   </extension>
   
   <!--  Aggregation Functions -->
   <extension point="org.knime.database.AggregationFunction">

      <!-- ************************** Common ************************** -->

      <!-- LISTAGG, PERCENTILE_CONT, and MEDIAN are not supported with sub queries in order by clause-->

      <!-- AvgDistinctDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.AvgDistinctDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!-- CountDistinctDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.CountDistinctDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!-- MaxDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.MaxDBAggregationFunction$Factory"
            dbTypes="redshift"/>
     
      <!-- MinDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.MinDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!-- SumDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.SumDistinctDBAggregationFunction$Factory"
            dbTypes="redshift"/>


      <!-- BitAndDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.BitAndDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!-- BitOrDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.BitOrDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!-- StdDevPopDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.StdDevPopDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!-- StdDevSampDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.StdDevSampDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!-- VarPopDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.VarPopDBAggregationFunction$Factory"
            dbTypes="redshift"/>

      <!--VarSampDBAggregationFunction  -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.VarSampDBAggregationFunction$Factory"
            dbTypes="redshift"/>
   </extension>
   
   
   
   <!-- Loader node implementations -->
   <extension point="org.knime.database.nodes.LoaderNode2">
      <LoaderNode2 dbTypes="redshift" class="org.knime.cloud.aws.redshift.connector2.loader.RedshiftLoaderNode"/>
   </extension>



    <!-- Type mapping service -->    
    <extension point="org.knime.database.DBTypeMappingService">
      <DBTypeMappingService 
            dbTypeId="redshift"
            supplier="org.knime.cloud.aws.redshift.connector2.utility.RedshiftTypeMappingServiceSupplier">
      </DBTypeMappingService>
   </extension>
   
   
   <extension point="org.knime.workbench.repository.nodes">
       <node
             category-path="/db/utility"
             factory-class="org.knime.cloud.aws.redshift.clustermanipulation.creator.RedshiftClusterLauncherNodeFactory">
       </node>
       <node
             category-path="/db/utility"
             factory-class="org.knime.cloud.aws.redshift.clustermanipulation.deleter.RedshiftClusterDeleterNodeFactory">
       </node>
       <node
             category-path="/db/connector"
             deprecated="false"
             factory-class="org.knime.cloud.aws.redshift.connector2.RedshiftDBConnectorNodeFactory">
       </node>
       <node deprecated="true" factory-class="org.knime.cloud.aws.redshift.connector.RedshiftConnectorNodeFactory"/>
    </extension>
    
<!-- Node migration rules -->
    <extension point="org.knime.workflow.migration.NodeMigrationRule">
      <Rule class="org.knime.cloud.aws.redshift.connector2.RedshiftDBConnectorNodeMigrationRule"/>
   </extension>
    
    
<!-- Legacy framework -->
   <extension
         point="org.knime.core.DatabaseUtility">
      <databaseUtility
            class="org.knime.cloud.aws.redshift.connector.utility.RedshiftUtility"
            database="redshift">
      </databaseUtility>
   </extension>
   
</plugin>
